/*Main section*/
body {
    margin: 0 10%;
    padding: 0;
    background-color: #dcd2f6;
}

.container {
    padding: 10px;
    border: 2px solid #000;
    margin: 10px auto;
    background-color: #fff;
}

/*General style edits*/
h1 {
    font-weight: bold;
    font-family: "Montserrat";
    font-size: 40px;
}

p {
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 20px;
}

h3 {
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: bold;
}

/*Color portion*/
.color-container {
    text-align: center;
    display: inline;
}

.purple {
    background-color: #8a00c2;
    color: #fff;
}

.midnight-blue {
    background-color: #191970;
    color: #fff;
    font-weight: bold;
}

.platinum-green {
    background-color: #116466;
    color: #fff;
}

.color-panel {
    font-weight: bold;
    width: 33%;
    display: inline-block;
    text-align: center;
}

/*Fonts*/

.fonts-container {
    display: inline-block;
    text-align: left;
}

.fonts-panel {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.open-sans {
    font-family: "Open Sans";
}

.Montserrat {
    font-family: "Montserrat";
}

.arial {
    font-family: arial;
}